h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 25px;
    padding: 20px;
    width: 250px;
    height: 250px;
    float: right;
}

p{
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

ul{
    
}
